@font-face {
	font-family: 'Teddy Bear';
	src: url('../fonts/teddy_bear.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/teddy_bear.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/teddy_bear.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/teddy_bear.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/teddy_bear.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/teddy_bear.svg#teddy_bear') format('svg'); /* Chrome < 4, Legacy iOS */
}
body {
    background-color: aqua;
    font-family: 'Teddy Bear';
}
h1 {
    color: rgb(250, 5, 5);
}
h2 {
    color: blueviolet;
}
a {
    color: brown;
}
.StarWars {
    font-size:18px;
}
#exe {
    color: rgb(252, 9, 9);
    background-color: blue;
    font-family: 'Teddy Bear';
    font-size: 26px;
}